RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]


AuthName "Accès restreint"
AuthType Basic
AuthUserFile "/Users/raphael/projets/lasoireefille/.htpasswd"
Require valid-user

<FilesMatch "\.(png|jpe?g|gif)$">
  Satisfy Any
  Allow from all
</FilesMatch>
