RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]


#AuthName "Accès restreint"
#AuthType Basic
#AuthUserFile "/cygdrive/c/xampp/htdocs/lasoireefille/.htpasswd"
#Require valid-user
